{
    "parser": "@babel/eslint-parser",
    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "quotes": [2, "single"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        "camelcase": [2, {"properties": "always"}],
        "brace-style": [2, "1tbs", {"allowSingleLine": true}],
        "import/no-commonjs": "error",
        "import/no-dynamic-require": "error"
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": false,
        "mocha": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:path-import-extension/recommended"
    ],
    "plugins": [
        "eslint-plugin-path-import-extension",
        "eslint-plugin-import"
    ],
    "settings": {
        "import/extensions": [
            ".js",
            ".cjs",
            ".mjs"
        ]
    }
}
