{
    "parser": "babel-eslint",
    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "quotes": [2, "single"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        "camelcase": [2, {"properties": "always"}],
        "brace-style": [2, "1tbs", {"allowSingleLine": true}]
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": false,
        "mocha": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "experimentalObjectRestSpread": false
    }
}
